<div id="lookup">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">What Is Your Lookup ?</h1>
				<!-- search form here -->
				<%= render "search-form" %>
				<!-- /search form here -->
			</div>
		</div>
	</div>
</div>
<div class="body-bg"></div>
